body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: #111111;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

.frame {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 1876px;
  font-family: SamsungSharp;
  font-weight: 500;
  border: 4px solid #000000;
  overflow: hidden;
}

@media screen and (max-width: 1919px) {
  .frame {
    flex-direction: column-reverse;
    max-width: 1023px;
  }

  .frame__right-wrapper {
    position: relative;
  }
}

.frame__background {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
}

.frame__background-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2) translate(125px, -75px);
}

@media screen and (max-width: 1919px) {
  .frame__background-image {
    transform: scale(1) translate(0px, 0px);
  }
}

.frame .frame__model-logo {
  display: block;
}

@media screen and (max-width: 1919px) {
  .frame .frame__model-logo {
    display: none;
  }
}

.frame__left {
  position: relative;
  flex-basis: 54%;
  padding: 68px 100px 88px 78px;
  background-color: transparent;
  overflow: hidden;
}

@media screen and (max-width: 1919px) {
  .frame__left {
    position: static;
  }
}

@media screen and (max-width: 1023px) {
  .frame__left {
    padding: 48px 80px 68px 58px;
  }
}

@media screen and (max-width: 767px) {
  .frame__left {
    padding: 38px 70px 58px 48px;
  }
}

@media screen and (max-width: 479px) {
  .frame__left {
    padding: 28px 50px 48px 28px;
  }
}

.frame__left-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}

.frame__brand-logo {
  margin-bottom: 66px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .frame__brand-logo {
    height: 26px;
  }
}

.frame__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 50px;
  line-height: 1.28;
  overflow: hidden;
}

@media screen and (max-width: 1023px) {
  .frame__title {
    font-size: 38px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 767px) {
  .frame__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .frame__title {
    font-size: 22px;
  }
}

.frame__kitchn-logo {
  margin-right: 5px;
}

@media screen and (max-width: 1023px) {
  .frame__kitchn-logo {
    height: 38px;
  }
}

@media screen and (max-width: 767px) {
  .frame__kitchn-logo {
    height: 24px;
  }
}

.frame__info-wrapper {
  overflow: hidden;
}

.frame__info {
  position: relative;
  display: block;
  margin-bottom: 66px;
  min-height: 286px;
  font-size: 28px;
  line-height: 1.64;
  opacity: 0;
}

@media screen and (max-width: 1023px) {
  .frame__info {
    margin-bottom: 36px;
    min-height: 256px;
    font-size: 22px;
    line-height: 1.44;
  }
}

@media screen and (max-width: 767px) {
  .frame__info {
    margin-bottom: 26px;
    min-height: 236px;
    font-size: 16px;
    line-height: 1.44;
  }
}

.frame__link {
  color: #808080;
}

.paginator {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 32px;
  line-height: 48px;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .paginator {
    font-size: 24px;
    line-height: 32px;
  }
}

.paginator__text {
  min-width: 60px;
  text-align: center;
}

.paginator__button {
  transition: transform 300ms, color 300ms;
}

.paginator__button:active {
  transform: scale(0.5);
  color: #808080;
}

@media screen and (max-width: 767px) {
  .paginator__button svg {
    width: 24px;
    height: 24px;
  }
}

.frame__paginator {
  margin-bottom: 24px;
}

.frame__button {
  display: inline-block;
  padding: 42px 56px;
  font-family: SamsungOne;
  font-size: 42px;
  line-height: 0.62;
  text-transform: uppercase;
  border: 4px solid #000000;
  border-radius: 9999px;
  opacity: 0;
  transition: transform 500ms;
  will-change: transform;
}

@media screen and (max-width: 1023px) {
  .frame__button {
    padding: 32px 46px;
    font-size: 36px;
  }
}

@media screen and (max-width: 767px) {
  .frame__button {
    padding: 22px 36px;
    font-size: 24px;
    border: 2px solid #000000;
  }
}

.frame__right {
  position: relative;
  flex-basis: 46%;
  overflow: hidden;
  opacity: 0;
}

@media screen and (max-width: 1919px) {
  .frame__right {
    min-height: 1049px;
  }
}

@media screen and (max-width: 1023px) {
  .frame__right {
    min-height: 950px;
  }
}

@media screen and (max-width: 767px) {
  .frame__right {
    min-height: 750px;
  }
}

.frame__model-logo {
  position: absolute;
  z-index: 10;
  top: 70px;
  right: 80px;
  font-size: 52px;
  font-weight: 700;
  line-height: 1;
  color: white;
}

@media screen and (max-width: 767px) {
  .frame__model-logo {
    font-size: 32px;
    top: 50px;
    right: 60px;
  }
}

@media screen and (max-width: 479px) {
  .frame__model-logo {
    font-size: 32px;
    top: 50px;
    right: 30px;
  }
}

.frame__right .frame__model-logo {
  display: none;
}

@media screen and (max-width: 1919px) {
  .frame__right .frame__model-logo {
    display: block;
  }
}

.frame__image {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1919px) {
  .frame__image {
    min-height: 1049;
  }
}

@media screen and (max-width: 767px) {
  .frame__image {
    display: block;
  }
}
